<a href="https://colab.research.google.com/github/RafsanJany-44/Thesis_Project/blob/main/C4_5_Tree_N1_N2_N3_15f.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install chefboost

Collecting chefboost
  Downloading chefboost-0.0.13-py3-none-any.whl (25 kB)
Requirement already satisfied: pandas>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from chefboost) (1.1.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from chefboost) (1.19.5)
Requirement already satisfied: psutil>=5.4.3 in /usr/local/lib/python3.7/dist-packages (from chefboost) (5.4.8)
Requirement already satisfied: tqdm>=4.30.0 in /usr/local/lib/python3.7/dist-packages (from chefboost) (4.62.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.22.0->chefboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.22.0->chefboost) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.22.0->chefboost) (1.15.0)
Installing collected packages: chefboost
Successfully installed chefboost-0.0.13

In [2]:
from chefboost import Chefboost as chef
import pandas as pd

In [3]:
df= pd.read_csv("/content/N1_N2_N3_15f.csv")

In [4]:
df.head()

  Sleep_Stage  MedianF_Beta_F4  ...  PeakF_Theta_F4  MeanF_Alpha_F4
0          N1         17.73268  ...         5.86927        17.85756
1          N1         16.85854  ...         4.37073        17.60780
2          N1         17.35805  ...         4.74537        17.60780
3          N2         15.48488  ...         3.74634        16.60878
4          N2         15.11024  ...         2.87220        15.98439

[5 rows x 16 columns]

In [5]:
config = {'algorithm': 'C4.5'} #Set algorithm to ID3, C4.5, CART, CHAID or Regression
model = chef.fit(df, config = config, target_label = 'Sleep_Stage')

['MedianF_Beta_F4', 'Spectral Edge_Beta_F4', 'Spectral Edge_Beta_C4', 'MedianF_Beta_C4', 'PeakF_Beta_F4', 'PeakF_Beta_C4', 'MeanF_Beta_F4', 'MeanF_Beta_C4', 'MedianF_Beta_O2', 'Spectral Edge_Alpha_F4', 'MedianF_Theta_C4', 'MeanF_Delta_C4', 'PeakF_Theta_C4', 'PeakF_Theta_F4', 'MeanF_Alpha_F4', 'Decision']
[INFO]:  1 CPU cores will be allocated in parallel running
C4.5  tree is going to be built...
-------------------------
finished in  91.069016456604  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  62.27919208051659 % on  72631  instances
Labels:  ['N1' 'N2' 'N3']
Confusion matrix:  [[3753, 1772, 41], [8137, 36768, 16536], [23, 888, 4713]]
Decision  N1  => Accuray:  86.2689 %, Precision:  67.4272 %, Recall:  31.5034 %, F1:  42.943 %
Decision  N2  => Accuray:  62.3673 %, Precision:  59.8428 %, Recall:  93.2535 %, F1:  72.9025 %
Decision  N3  => Accuray:  75.9221 %, Precision:  83.8016 %, Recall:  22.1372 %, F1:  35.0227 %