<a href="https://colab.research.google.com/github/RafsanJany-44/Thesis_Project/blob/main/MEGA_Naive_Byaes_15f.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#NAIVE BAYES

In [31]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [32]:
# On importe les librairies
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,MultinomialNB,CategoricalNB

In [33]:
# On importe le dataset
f="/content/drive/MyDrive/Thesis_Data/MEGA_15f.csv"
dataset = pd.read_csv(f)
dataset.head()

  Sleep_Stage  MedianF_Beta_F4  ...  PeakF_Theta_C4  MedianF_Theta_C4
0           W         19.73073  ...         3.87122           5.24488
1           W         17.23317  ...         3.62146           5.74439
2           W         17.60780  ...         2.99707           5.61951
3           W         17.35805  ...         5.86927           5.99415
4           W         17.23317  ...         5.74439           5.74439

[5 rows x 16 columns]

In [34]:
# On sépare notre dataframe en deux les inputs et les targets ( survived )
X = dataset.drop('Sleep_Stage',axis='columns')
Y = dataset.Sleep_Stage

In [35]:
# Identifier les colonnes ou il manque des données
X.columns[X.isna().any()]

Index([], dtype='object')

In [36]:
X.describe()

       MedianF_Beta_F4  Spectral Edge_Beta_F4  ...  PeakF_Theta_C4  MedianF_Theta_C4
count    108451.000000          108451.000000  ...   108451.000000     108451.000000
mean         17.282671              29.446835  ...        6.046107          6.313472
std          14.226341              14.190779  ...        7.738422          6.898977
min           6.243900              13.361950  ...        0.124880          0.124880
25%          12.612680              22.727800  ...        3.746340          4.745370
50%          14.485850              25.350240  ...        4.620490          5.244880
75%          17.108290              31.344390  ...        6.243900          6.119020
max         127.875120             127.875120  ...       63.937560         63.937560

[8 rows x 15 columns]

In [37]:
X.fillna(X.mean(), inplace=True)
X.describe()

       MedianF_Beta_F4  Spectral Edge_Beta_F4  ...  PeakF_Theta_C4  MedianF_Theta_C4
count    108451.000000          108451.000000  ...   108451.000000     108451.000000
mean         17.282671              29.446835  ...        6.046107          6.313472
std          14.226341              14.190779  ...        7.738422          6.898977
min           6.243900              13.361950  ...        0.124880          0.124880
25%          12.612680              22.727800  ...        3.746340          4.745370
50%          14.485850              25.350240  ...        4.620490          5.244880
75%          17.108290              31.344390  ...        6.243900          6.119020
max         127.875120             127.875120  ...       63.937560         63.937560

[8 rows x 15 columns]

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [39]:
model = CategoricalNB()

In [40]:
model.fit(X_train,y_train)

CategoricalNB()

In [41]:
print(f)
print(model.score(X_train,y_train))

/content/drive/MyDrive/Thesis_Data/MEGA_15f.csv
0.4967035500230521