<a href="https://colab.research.google.com/github/RafsanJany-44/Thesis_Project/blob/main/Model_Evalution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

writing csv

In [ ]:
x=list(input().replace("-","").split(" "))
epoch_det=[]
i=1
j=0
while(i<=len(x)/13):
  epoch_det.append(x[j:j+13])
  i+=1
  j+=13

refined_data=[]
for i in epoch_det:
    refined_data.append([int(i[1][:-5]),int(i[5][:-1]),float(i[9]),float(i[-1])])


import csv

header = ['Epoch Number', 'Executing Time(s)', 'Loss', 'Accuracy']


with open('epoch_details.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)

    # write the header
    writer.writerow(header)

    # write the data
    for i in refined_data:
      writer.writerow(i)

In [1]:
class myList:
    def __init__(self,*args): 
        self.lst = args
    def sum(self):  # to sum all number
        print("Sum:",sum(self.lst))
    def merge(self,*args):# to marge the lists
        self.lst += args
    def average(self): #find the average
        if len(self.lst)>=1:
            average = sum(self.lst)/len(self.lst)
        else:
            average = 0
        print("Average:",average)
        
l1 =  myList(2,3,4,5,6) 
l1.sum()
l1.merge(4,5,9)
l1.sum()
l1.average()
print("")
l2 =  myList()
l2.average()
l2.merge(1,2,4,8)
l2.sum()

Sum: 20
Sum: 38
Average: 4.75

Average: 0
Sum: 15

In [7]:
class Bird():
  def __init__(self,name,canFly=False):
    self.name=name
    self.canFly=canFly
    self.type=""

  def fly(self):
    if(self.canFly==True):
      print(self.name+" can fly.")

    else:
      print(self.name+" can not fly.")
      self.type="flightless Bird"
  
  def setType(self,type):
    self.type=type

  def printDetail(self):
    print("Name: "+self.name)
    print("Type: "+self.type)


ostrich = Bird('Ostrich')
duck = Bird("Duck", True)
owl = Bird('Owl', True)
print("###########################")
ostrich.fly()
duck.fly()
owl.fly()
duck.setType('Water Birds')
owl.setType('Birds of Prey')
print('=========================')
ostrich.printDetail()
print('=========================')
duck.printDetail()
print('=========================')
owl.printDetail()

###########################
Ostrich can not fly.
Duck can fly.
Owl can fly.
=========================
Name: Ostrich
Type: flightless Bird
=========================
Name: Duck
Type: Water Birds
=========================
Name: Owl
Type: Birds of Prey

In [8]:
class book:
    def __init__(self, name):
        self.name = name
        self.genre='biography'
    def review(self):
         print('This book is just out of the world,mind-blowing!')

class fiction(book):
  def __init__(self,name,genre):
    super().__init__(name)
    self.type=genre
  
  def review(self):
    print("The " +self.name+ " which is a "+self.type+" is just out of the world, mind-blowing!")
  
class nonfiction(book):
  def __init__(self,name):
    super().__init__(name)
  
  def review(self):
    print(self.name+" which is a biography is just out of the world, mind-blowing!") 

b1 = fiction('The Shining','Psychological horror')
b2 = nonfiction('A Beautiful Mind')
b1.review()
print('=========================')
b2.review()
print('=========================')

The The Shining which is a Psychological horror is just out of the world, mind-blowing!
=========================
A Beautiful Mind which is a biography is just out of the world, mind-blowing!
=========================

In [9]:
class Account():

  count=0

  def __init__(self,name,age,pos,mny):
    self.name=name
    self.age=age
    self.pos=pos
    self.mny=mny
    Account.count+=1

  def addMoney(self,mny):
    self.mny=self.mny+mny
  
  def withdrawMoney(self,mny):
    self.mny=self.mny-mny
  
  def printDetails(self):
    print('Name:',self.name)
    print("Age:",self.age)
    print("Occupation:",self.pos)
    print("Total Amount:",self.mny)
  








print('No of account holders:', Account.count)
print("=========================")
p1 = Account("Abdul", 45, "Service Holder", 500000)
p1.addMoney(300000)
p1.printDetails()
print("=========================")
p2 = Account("Rahim", 55, "Businessman", 700000)
p2.withdrawMoney(700000)
p2.printDetails()
print("=========================")
p3 = Account("Ashraf", 62, "Govt. Officer", 200000)
p3.withdrawMoney(250000)
p3.printDetails()
print("=========================") 
print('No of account holders:', Account.count)

No of account holders: 0
=========================
Name: Abdul
Age: 45
Occupation: Service Holder
Total Amount: 800000
=========================
Name: Rahim
Age: 55
Occupation: Businessman
Total Amount: 0
=========================
Name: Ashraf
Age: 62
Occupation: Govt. Officer
Total Amount: -50000
=========================
No of account holders: 3