# NAIVE BAYES

In [81]:
# On importe les librairies
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,MultinomialNB,CategoricalNB

In [82]:
# On importe le dataset
f="/content/S_W_20f.csv"
dataset = pd.read_csv(f)
dataset.head()

  Sleep_Stage  ...  Spectral Edge_Gamma_F4
0           W  ...                50.07610
1           W  ...                49.95122
2           W  ...                49.95122
3           W  ...                49.95122
4           W  ...                49.95122

[5 rows x 21 columns]

In [83]:
# On sépare notre dataframe en deux les inputs et les targets ( survived )
X = dataset.drop('Sleep_Stage',axis='columns')
Y = dataset.Sleep_Stage

In [84]:
# Identifier les colonnes ou il manque des données
X.columns[X.isna().any()]

Index([], dtype='object')

In [85]:
X.describe()

       Spectral Edge_Beta_F4  ...  Spectral Edge_Gamma_F4
count          108451.000000  ...           108451.000000
mean               29.446835  ...               49.800135
std                14.190779  ...               10.053822
min                13.361950  ...               29.221460
25%                22.727800  ...               47.328780
50%                25.350240  ...               49.951220
75%                31.344390  ...               50.076100
max               127.875120  ...              127.875120

[8 rows x 20 columns]

In [86]:
X.fillna(X.mean(), inplace=True)
X.describe()

       Spectral Edge_Beta_F4  ...  Spectral Edge_Gamma_F4
count          108451.000000  ...           108451.000000
mean               29.446835  ...               49.800135
std                14.190779  ...               10.053822
min                13.361950  ...               29.221460
25%                22.727800  ...               47.328780
50%                25.350240  ...               49.951220
75%                31.344390  ...               50.076100
max               127.875120  ...              127.875120

[8 rows x 20 columns]

In [87]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [88]:
model = CategoricalNB()

In [89]:
model.fit(X_train,y_train)

CategoricalNB()

In [90]:

print(f)
print(model.score(X_train,y_train))

/content/S_W_20f.csv
0.8815928999538958