# NAIVE BAYES

In [41]:
# On importe les librairies
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,MultinomialNB,CategoricalNB

In [42]:
# On importe le dataset
f="/content/N1_N2_N3_15f.csv"
dataset = pd.read_csv(f)
dataset.head()

  Sleep_Stage  MedianF_Beta_F4  ...  PeakF_Theta_F4  MeanF_Alpha_F4
0          N1         17.73268  ...         5.86927        17.85756
1          N1         16.85854  ...         4.37073        17.60780
2          N1         17.35805  ...         4.74537        17.60780
3          N2         15.48488  ...         3.74634        16.60878
4          N2         15.11024  ...         2.87220        15.98439

[5 rows x 16 columns]

In [43]:
# On sépare notre dataframe en deux les inputs et les targets ( survived )
X = dataset.drop('Sleep_Stage',axis='columns')
Y = dataset.Sleep_Stage

In [44]:
# Identifier les colonnes ou il manque des données
X.columns[X.isna().any()]

Index([], dtype='object')

In [45]:
X.describe()

       MedianF_Beta_F4  Spectral Edge_Beta_F4  ...  PeakF_Theta_F4  MeanF_Alpha_F4
count     72631.000000           72631.000000  ...    72631.000000    72631.000000
mean         16.434196              28.385167  ...        5.622471       14.912283
std          14.792444              14.732312  ...        7.396890        4.003472
min           6.243900              13.361950  ...        0.124880        0.874150
25%          12.113170              21.853660  ...        3.621460       13.486830
50%          13.486830              24.226340  ...        4.495610       14.485850
75%          15.484880              28.721950  ...        5.619510       15.859510
max         127.875120             127.875120  ...       63.937560       49.951220

[8 rows x 15 columns]

In [46]:
X.fillna(X.mean(), inplace=True)
X.describe()

       MedianF_Beta_F4  Spectral Edge_Beta_F4  ...  PeakF_Theta_F4  MeanF_Alpha_F4
count     72631.000000           72631.000000  ...    72631.000000    72631.000000
mean         16.434196              28.385167  ...        5.622471       14.912283
std          14.792444              14.732312  ...        7.396890        4.003472
min           6.243900              13.361950  ...        0.124880        0.874150
25%          12.113170              21.853660  ...        3.621460       13.486830
50%          13.486830              24.226340  ...        4.495610       14.485850
75%          15.484880              28.721950  ...        5.619510       15.859510
max         127.875120             127.875120  ...       63.937560       49.951220

[8 rows x 15 columns]

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [48]:
model = CategoricalNB()

In [49]:
model.fit(X_train,y_train)

CategoricalNB()

In [50]:

print(f)
print(model.score(X_train,y_train))

/content/N1_N2_N3_15f.csv
0.6316432603607325