# NAIVE BAYES

In [62]:
# On importe les librairies
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,MultinomialNB,CategoricalNB

In [63]:
# On importe le dataset
f="/content/REM_NREM_10f.csv"
dataset = pd.read_csv(f)
dataset.head()

  Sleep_Stage  PeakF_Beta_F4  ...  Spectral Edge_Beta_C4  Spectral Edge_Gamma_F4
0        NREM       14.36098  ...               27.22341                49.95122
1        NREM       16.60878  ...               27.09854                49.95122
2        NREM       14.98537  ...               27.97268                49.95122
3        NREM       11.36390  ...               25.60000                49.95122
4        NREM       15.98439  ...               23.72683                49.95122

[5 rows x 11 columns]

In [64]:
# On sépare notre dataframe en deux les inputs et les targets ( survived )
X = dataset.drop('Sleep_Stage',axis='columns')
Y = dataset.Sleep_Stage

In [65]:
# Identifier les colonnes ou il manque des données
X.columns[X.isna().any()]

Index([], dtype='object')

In [66]:
X.describe()

       PeakF_Beta_F4  ...  Spectral Edge_Gamma_F4
count    89096.00000  ...            89096.000000
mean        20.65046  ...               49.302526
std         19.37498  ...               10.150919
min          3.87122  ...               29.221460
25%         10.73951  ...               46.579510
50%         12.61268  ...               49.951220
75%         17.85756  ...               49.951220
max        127.87512  ...              127.875120

[8 rows x 10 columns]

In [67]:
X.fillna(X.mean(), inplace=True)
X.describe()

       PeakF_Beta_F4  ...  Spectral Edge_Gamma_F4
count    89096.00000  ...            89096.000000
mean        20.65046  ...               49.302526
std         19.37498  ...               10.150919
min          3.87122  ...               29.221460
25%         10.73951  ...               46.579510
50%         12.61268  ...               49.951220
75%         17.85756  ...               49.951220
max        127.87512  ...              127.875120

[8 rows x 10 columns]

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [69]:
model = CategoricalNB()

In [70]:
model.fit(X_train,y_train)

CategoricalNB()

In [71]:

print(f)
print(model.score(X_train,y_train))

/content/REM_NREM_10f.csv
0.7287165385262921