# NAIVE BAYES

In [1]:
# On importe les librairies
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,MultinomialNB,CategoricalNB

In [2]:
# On importe le dataset
f="/content/N1_N2_N3_10f.csv"
dataset = pd.read_csv(f)
dataset.head()

  Sleep_Stage  MedianF_Beta_F4  ...  MedianF_Beta_O2  Spectral Edge_Alpha_F4
0          N1         17.73268  ...         18.23220                17.48293
1          N1         16.85854  ...         18.10732                17.10829
2          N1         17.35805  ...         17.23317                16.98341
3          N2         15.48488  ...         17.73268                15.85951
4          N2         15.11024  ...         15.98439                15.48488

[5 rows x 11 columns]

In [3]:
# On sépare notre dataframe en deux les inputs et les targets ( survived )
X = dataset.drop('Sleep_Stage',axis='columns')
Y = dataset.Sleep_Stage

In [4]:
# Identifier les colonnes ou il manque des données
X.columns[X.isna().any()]

Index([], dtype='object')

In [5]:
X.describe()

       MedianF_Beta_F4  ...  Spectral Edge_Alpha_F4
count     72631.000000  ...            72631.000000
mean         16.434196  ...               14.137720
std          14.792444  ...                4.217983
min           6.243900  ...                0.124880
25%          12.113170  ...               12.737560
50%          13.486830  ...               13.736590
75%          15.484880  ...               14.985370
max         127.875120  ...               50.076100

[8 rows x 10 columns]

In [6]:
X.fillna(X.mean(), inplace=True)
X.describe()

       MedianF_Beta_F4  ...  Spectral Edge_Alpha_F4
count     72631.000000  ...            72631.000000
mean         16.434196  ...               14.137720
std          14.792444  ...                4.217983
min           6.243900  ...                0.124880
25%          12.113170  ...               12.737560
50%          13.486830  ...               13.736590
75%          15.484880  ...               14.985370
max         127.875120  ...               50.076100

[8 rows x 10 columns]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [8]:
model = CategoricalNB()

In [9]:
model.fit(X_train,y_train)

CategoricalNB()

In [10]:

print(f)
print(model.score(X_train,y_train))

/content/N1_N2_N3_10f.csv
0.5591697645600991