<a href="https://colab.research.google.com/github/RafsanJany-44/Thesis_Project/blob/main/XG_Boost_TEST1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import xgboost as xgb
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [9]:
dataset = pd.read_csv("/content/drive/MyDrive/Thesis_Data/EEG_HMC_NUM.csv")
X= dataset.iloc[:, 1:76]
y = dataset.iloc[:, 0]

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [21]:
regressor = xgb.XGBRegressor(
    n_estimators=100,
    reg_lambda=1,
    gamma=0,
    max_depth=3
)

In [22]:
regressor.fit(X_train, y_train)

[19:32:38] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor()

In [17]:
pd.DataFrame(regressor.feature_importances_.reshape(1, -1))

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
0,0.004085,0.001338,0.010453,0.008361,0.001759,0.012161,0.01385,0.010436,0.023792,0.007112,...,0.012395,0.002011,0.003311,0.001826,0.001545,0.018662,0.021402,0.0,0.003476,0.001935

In [23]:
y_pred = regressor.predict(X_test)

In [24]:
mean_squared_error(y_test, y_pred)

0.7333743678679895